.dashboard-report-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.dashboard-report-back {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.dashboard-report-filters {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.dashboard-report-tag {
  font-size: 18px;
  padding: 7px;
}
